<div class="row">
  <div class="col-lg-6">
    <!-- Hero Section -->

    <!-- Content Section -->
    <section>
      <h3>Lorem ipsum dolor sit amet.</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eum explicabo hic illum inventore ipsam officia
        omnis saepe similique! Aliquam aliquid amet commodi consequuntur debitis et fugiat, id impedit laborum magni
        maiores modi nam natus pariatur possimus praesentium quam sequi totam. Adipisci aliquid aperiam dolore dolores
        earum enim, error est facere iste, nostrum omnis perferendis perspiciatis quae quidem repudiandae unde, vero
        voluptate. Aut cum doloribus eius, est ipsam laudantium natus obcaecati perferendis? Commodi corporis deserunt
        earum error ex hic illo incidunt laudantium, magni minus natus obcaecati officiis perspiciatis quod, rerum velit
        voluptatibus? Aspernatur dolor in minima provident, quia quisquam? Magni.</p>
      <a routerLink="categories">Find a doctor</a>
    </section>

  </div>
</div>
