<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Vezeeta</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="dropdown" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link" routerLink="/appointments" routerLinkActive="active">Appointments</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link" routerLink="/categories" routerLinkActive="active">Look for Doctor</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="!isAuthenticated">
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth/signin">Login</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="isAuthenticated">
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="onUser()"> Welcome {{getUsername()}} </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


